<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreTweet" version="0.7.0.339" targetFramework="portable45-net45+win8+wpa81" />
  <package id="CoreTweetSupplement" version="1.6.0.21" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="ReactiveProperty" version="2.9.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="portable45-net45+win8+wpa81" />
</packages>